{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<main>
<div class="d-md-flex main align-items-center justify-content-around">
    <div class="col-6 d-grid gap-3 px-4 pt-4">
        <h2>Welcome to Vanlife Blog</h2>
        <h3>A free to use web app, where you can write about your vanlife adventures</h3>
        <a class="btn btn-outline-primary col-2" href="{{ url_for('login') }}" role="button">Login</a>
    </div>
    <div class="col-6">
        <img src="../static/images/vanlife_illustration_01.jpg" alt="">
    </div>
</div>
</main>

{% endblock %}