{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="center">Welcome to Vanlife Blog</h3>
            <h4>A free to use web app, where you can write about your vanlife adventures</h4>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="col-6">
            <div>
                <img src="../static/images/vanlife_1.jpg" alt="vanlife">
            </div>
        </div>
    </div>
    
</div>

{% endblock %}