{% extends "base.html" %}
{% block title %}login{% endblock %}

{% block content %}


<div class="d-lg-flex main align-items-center justify-content-around login-page">
    <div class="d-grid gap-3 px-4 pt-4">
        <h3 class="center">Log in</h3>
            <form class="col-6 row g-3" method="POST">
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Enter password">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-secondary">Log in</button>
                </div>
            </form>
            <p>Don't have an account? Register <a href="{{ url_for('register') }}">here</a></p>
    </div>
    <div>
        <img src="../static/images/vanlife_illustration_01.jpg" alt="campervan drawing">
    </div>
</div>

{% endblock %}