{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}


<div class="d-md-flex main align-items-center justify-content-around register-page">
    <div class="col-6 d-grid gap-3 px-4 pt-4">
        <h3 class="center">Register</h3>
            <form class="col-6 row g-3" method="POST">
                <div class="col-md-12">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Select a username">
                </div>
                <div class="col-12">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                </div>
                <div class="col-12">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Enter password">
                </div>
                <div class="col-12">
                    <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" id="password2" name="password2"
                        placeholder="Confirm password">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-primary">Register</button>
                </div>
            </form>
    </div>
    <div>
        <img src="../static/images/vanlife_illustration_01.jpg" alt="">
    </div>
</div>


{% endblock %}