* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fffff7;
}

main {
    flex: 1;
}

nav {
    background-color: #748c84;
}

.navbar {
    --bs-navbar-color: #black;
    --bs-navbar-hover-color: white;
}

.login-page {
    background-color: #fffff7;
}

.register-page {
    background-color: #fffff7;
}

.alert-success {
    width: auto;
    text-align: center;
    --bs-alert-color: #3b3c3e;
}

.alert-danger {
    width: auto;
    text-align: center;
}

img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height: 80vh;
}

.card-header, .card-footer {
    background-color: #748c84;

}

footer {
    background-color: #748c84;
    margin-top: auto;
}

footer p {
    color: #fbfbf4;
}

a {
    color: #3b3c3e;
}

.scroll {
    height: auto;
    overflow-y: scroll;
}

th {
    text-align: center;
}

.align-center {
    text-align: center;
}