* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    background-color: #fffff7;
}

nav {
    background-color: #748c84;
}

.navbar {
    --bs-navbar-color: #black;
    --bs-navbar-hover-color: white;
}

.login-page {
    background-color: #fffff7;
}

.register-page {
    background-color: #fffff7;
}

.alert-success {
    background-color: #fbbcab;
    width: auto;
    text-align: center;
    --bs-alert-color: #3b3c3e;
}

.alert-danger {
    width: auto;
    text-align: center;
}

img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height: 80vh;
}

footer {
    background-color: #748c84;
    margin-top: auto;
}

footer p {
    color: white;
}

@media screen and (max-width: 1000px) {
    .flex-direction {
        flex-direction: column;
    }
}