* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    max-height: 70vh;
}

nav {
    background-color: #8FC1E3;
}

footer {
    margin: 0;
    background-color: #8FC1E3;
}